<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<link rel="stylesheet" type="text/css" href="CSS/ForTable.css" />-->

<body>

  <div id="root">{{{markup}}}</div>

  <script src="scripts/guestsRename.js"></script>

</body>




</html>