

table {
	border-collapse: collapse;
	width: 30%;
	table-layout: fixed;
	background: rgb(234, 226, 292);
	margin-right: 20px; 
	float: left;
	
}

td {
	padding: 7px;
	border: 1px black solid;
}

th {
	padding: 7px;
	border: 1px black solid;
}

 